[submodule "themes/freemind"]
	path = themes/freemind
	url = git@github.com:minyez/hexo-theme-freemind.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next
